
.heading {
  text-align: center;
  margin: 3rem auto 2rem;
  max-width: 1100px;
  padding: 0 2rem;
}

.heading h1 {
  color: #e5e5e5;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 0.75rem;
  border-bottom: 3px solid #facc15;
}

.todo-list {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-item {
  background-color: #27272a;
  padding: 0.70rem 1.30rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

}
.body-light .todo-item{
  background-color: white;
  
}
.body-light .task{
  color: black;
}
.task {
  color: #ffffff;
  font-size: 1.125rem;
  margin: 0;
  font-weight: 400;
}

.status {
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 0.95rem;
  margin: 0;
  text-transform: capitalize;
}
.status.completed {
  background-color: #facc15;
  color: #18181b;
  text-decoration: none;
}


.status.pending {
  background-color: #e11d48;
  color: #ffffff;
}