.main {
  margin: 40px auto;
  max-width: 1500px;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: #222;
  
}

.card-cont {
  position: relative;
  display: flex;
  justify-content: flex-start;
  max-width: 1100px;
  gap: 20px;
  padding: auto;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 0 12px 12px;
  
}
.body-light .main{
    background-color: rgb(255, 255, 255);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
